.DS_Store
.history
__pycache__

/.idea
/.vscode
/.conda
/BackEnd/logs
/FrontEnd/.nuxt
/FrontEnd/node_modules
/BackEnd/docker
/BackEnd/Dockerfile
/FrontEnd/docker
/FrontEnd/dist
/FrontEnd/.output
/FrontEnd/Dockerfile
/BackEnd/configs/*
/BackEnd/static/*

